<h1>Connect to Device</h1>

<div id="connect" class="form-inline">
    <select id="devices" class="form-control">
        <option value="1">Device 1</option>
        <option value="2">Device 2</option>
        <option value="3">Device 3</option>
        <option value="4">Device 4</option>
        <option value="5">Device 5</option>
        <option value="6">Device 6</option>
        <option value="7">Device 7</option>
        <option value="8">Device 8</option>
        <option value="9">Device 9</option>
        <option value="10">Device 10</option>
        <option value="11">Device 11</option>
    </select>
    <button type="submit" id="connectBtn" class="btn btn-default"> Connect </button>
</div>
