<h1>Dashboard</h1>

<div id="memoryData"></div>

<br/>

<div class="row">
    <div class="col-xs-12 col-sm-6">
        <div id="fileDescriptorData">
            <table>
                <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="stargazers_count">Stars</th>
                    <th data-field="forks_count">Forks</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div id="processData">
            <table>
                <thead>
                <tr>
                    <th data-field="name">Name</th>
                    <th data-field="stargazers_count">Stars</th>
                    <th data-field="forks_count">Forks</th>
                    <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>



